  
  <tr id="baris-{{tugas.id}}">
    <td>{{tugas.id}}</td>
    <td>{{tugas.nama}}</td>
    <td><span>Aktif</span></td>

    <td><a 
        hx-post="{% url 'tugasan-pop-detail' tugas.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-id-card has-text-warning px-2"></i></a>
        <a
        hx-post="{% url 'tugasan-pop-edit' tugas.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-edit has-text-info-dark px-2"></i></a>
        <a 
        hx-post="{% url 'tugasan-pop-delete' tugas.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-trash has-text-danger px-2"></i></a>
    </td>

  </tr>
