{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="box mt-3">
    <p class="title is-4 has-text-info">
        TUGASAN 2022 
        <span class="subtitle is-6">
        (Dashboard)
        </span>
    </p>
    
{% comment %} <div class="container"> {% endcomment %}
    <form method="POST"
        class=""
        hx-post="/tugasan/add_tugas/"
        hx-target="#tugasan"
        hx-swap="beforebegin"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        id="add_form"
    >

        <div class="field">
        <div class="control">
            <input class="input is-primary" type="text" name="nama" placeholder="Add New Task ...">
        </div>
        </div>
        <button class="button is-primary is-small"><strong>ADD</strong></button>
    </form>
</div>
<div class="box table-container">
    <div id="modal-body"></div>
    <div id="tugas-notify"></div>
<table class="table is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody id="tugasan">
    {% for todo in tugas %}
  <tr id="baris-{{todo.id}}">
    <td>{{todo.id}}</td>


    <td>{{todo.nama}}</td>

    <td><span>{{todo.get_st_tugas_display}}</span></td>

    <td><a 
        hx-post="{% url 'tugasan-pop-detail' todo.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-id-card has-text-warning px-2"></i></a>
        <a
        hx-post="{% url 'tugasan-pop-edit' todo.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-edit has-text-info-dark px-2"></i></a>
        <a 
        hx-post="{% url 'tugasan-pop-delete' todo.id %}"
        hx-target="#modal-body"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        ><i class="fa-solid fa-trash has-text-danger px-2"></i></a>
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</div>




    </div>
</div>

{% endblock content %}

{% block extrascript %}
<script>
    document.body.addEventListener('htmx:afterRequest', (event) =>{
        document.querySelector('input[name=nama]').value = '';
        document.getElementById('detail-modal').setAttribute('class', 'modal');
    });

</script>
{% endblock extrascript %}